<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<link rel="stylesheet" href="assignments.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="index.html">Home</a>
					<a class = "current" href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
					<a href ="login_input.html">Login</a>
				</ul>
		</nav>
	</div>

	<div class="acontent">
		<div class="overview">
			<h1><b>Overview</b></h1>
			<ul>
			<p></p>
			<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a></p>
			</ul>

		</div>

		<div class="table">
			<div class="row">

					<div class="tablecell"></div>
					<div class="tablecell">1</div>
					<div class="tablecell">2</div>
					<div class="tablecell">3</div>
					
			</div>
			<div class = "row">
				<div class="tablecell"><STRONG>Exercise</STRONG></div>
				<div class="tablecell"><a href="syllabus.pdf">Handout</a></div>
				<div class="tablecell"><a href="syllabus.pdf">Handout a2.zip</a></div>
				<div class="tablecell"><a href="syllabus.pdf">New Marking Scheme for A3 Handout</a></div>
			</div>

			<div class = "row">
				<div class="tablecell"><STRONG>Topics(Tenative</STRONG></div>
				<div class="tablecell">Relational Algebra and MySQL</div>
				<div class="tablecell">HTML, CSS, PHP</div>
				<div class="tablecell">Web Application and Database</div>
			</div>
			<div class = "row">
				<div class="tablecell"><STRONG>Weight</STRONG></div>
				<div class="tablecell">15%</div>
				<div class="tablecell">15%</div>
				<div class="tablecell">15%</div>
			</div>
			<div class = "row">
				<div class="tablecell"><STRONG>Due-Date</STRONG></div>
				<div class="tablecell">Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>
					UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a> You can download a dumpfile for IMDB_SMALL <a href="syllabus.pdf">here</a>.
					To use it type mysql -u utorid -p < IMDB_SMALL.sql</div>
				<div class="tablecell">Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>
					Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w19">MarkUs</a>--></div>
				<div class="tablecell">Friday March 31, 11.59pm</div>
			</div>
			<div class = "row">
				<div class="tablecell"><STRONG>Solution</STRONG></div>
				<div class="tablecell"><a href="syllabus.pdf">Solution Part 1</a></div>
				<div class="tablecell"></div>
				<div class="tablecell"></div>
			</div>
		</div>

		<div class="faq">

			<h1>FAQ-Assignment 1</h1>
			<ul><p>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?</p></ul>
			<ul><p>A. Return the first name, last name. </p></ul>
		</div>
	</div>
	<div class='foot'>
		
	</div>

</body>
</html>