<!DOCTYPE html>
<html>
<head>
	<title>Lectures</title>
	<link rel="stylesheet" href="lectures.css">
</head>
<body>
	<div class="header">
		<nav>
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
				<ul class="topbar">
					<a href="index.html">Home</a>
					<a href="assignments.html">Assignments</a>
					<a href="calendar.html">Calendar</a>
					<a href="https://piazza.com/class/jr7mjhytaij3jc?cid=124">Discussion</a>
					<a href=labs.html>Labs</a>
					<a class = "current" href="lectures.html">Lectures</a>
					<a href="news.html">News</a>
					<a href="resources.html">Resources</a>
					<a href="tests.html">Tests</a>
          <a href ="login.html">Login</a>
				</ul>
		</nav>
  </div>

  <div class="content">
    <h2><u>Lecture Schedule</u></h2>
    <p> Please print and bring these notes/worksheets to class </p>

    <div class="Table">
      <div class="TableRow">
        <div class="TableHead"><strong>Week</strong></div>
        <div class="TableHead"><strong>Topic</strong></div>
        <div class="TableHead"><strong>Reading</strong></div>
        <div class="TableHead"><strong>Lecture Material</strong></div>
        <div class="TableHead"><strong>In Class</strong></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">1</div>
        <div class="TableCell">Introduction, Databases background</div>
        <div class="TableCell"></div>
        <div class="TableCell"><a href="syllabus.pdf">Power Point</a></p><p><a href="syllabus.pdf">Power Point Handout</a></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">3</div>
        <div class="TableCell">Schema Diagrams, Relational Alegra</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">4</div>
        <div class="TableCell">SQL and MySQL</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">5</div>
        <div class="TableCell">MySQL Queries, Creating and Editing Tables</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">6</div>
        <div class="TableCell">MySQL Outer Joins, Views, NULL, string functions, HTML</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">7</div>
        <div class="TableCell">HTML, CSS</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">CSS Powerpoint</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">8</div>
        <div class="TableCell">PHP</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Power Point</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">9</div>
        <div class="TableCell">PHP and SQL</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Power Point</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">10</div>
        <div class="TableCell">JavaScript and jQuery</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">jQuery Power Point</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">11</div>
        <div class="TableCell">jQuery, AJAX, JSON</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Worksheet</a></p>
          <p><a href="syllabus.pdf">Worksheet Solutions</a></p></div>
        <div class="TableCell"></div>
      </div>
      <div class="TableRow">
        <div class="TableCell">12</div>
        <div class="TableCell">Last Year's final</div>
        <div class="TableCell"></div>
        <div class="TableCell"><p><a href="syllabus.pdf">Final Exam</a></p></div>
        <div class="TableCell"></div>
      </div>
    </div>
  </div>
  <div class='foot'>
    
  </div>
</body>
</html>